.chat {
    height: calc(100vh - 100px);
    display: flex;
    margin: 20px;
  }
  
  .chatMenu {
    flex: 3.5;
  }
  
  .chatMenuInput {
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
  }
  
  .chatBox {
    flex: 5.5;
  }

  .currentChatName {
    width:100%;
    height: 50px;
    text-align: center;
    margin: auto;
    background-color: tomato;
    color: white;
  }

  .currentChatName p {
    font-size: larger;
    font-weight: 600;
    margin: 10px;
  }


  
  .chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  
  .chatBoxTop {
    height: 80%;
    overflow-y: scroll;
    padding-right: 10px;
    padding-bottom: 20px;
  }
  
  .chatBoxBottom {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .chatMessageInput {
    height: 12px;
    padding: 10px;
    width: 100%;
    margin-right: 15px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.267);
  }
  
  .chatSubmitButton {
    width: 70px;
    height: 34px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: tomato;
    color: white;
  }
  
  .chatOnline {
    flex: 3;
  }
  
  .chatMenuWrapper,
  .chatBoxWrapper,
  .chatOnlineWrapper {
    padding: 10px;
    height: 100%;
  }
  
  .noConversationText {
    position: absolute;
    top: 10%;
    font-size: 50px;
    color: rgb(224, 220, 220);
    cursor: default;
  }
  
  @media screen and (max-width: 768px) {
    .chatMenu {
      flex: 1;
    }
  
    .chatMenuInput {
      display: none;
    }
  
    .chatBox{
      flex: 10;
    }
  
    .chatOnline{
      flex: 1px;
    }
  }