.homeContainer {
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}

.homeHeading{
    text-align: center;
}

.productContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
}

.homeImage {
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}