.results-heading {
    margin: 2vmax auto;
    width: 250px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.171);
    padding: 2vmax;
    color: rgba(0, 0, 0, 0.678);
    font: 500 25px "Roboto";
    text-align: center;
  }
  
  .results-container {
    width: 100vw;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    position: absolute;
    min-height: 30vh;
  }

  .resultsBox {
    margin: 0 20px;
  }

  .filterBox {
    display: block;
    width: 150px;
    margin-left: 40px;
    top: 10vmax;
    left: 4vmax;
  }
  
  .filterTitle,
  .categoryTitle {
    color: rgba(0, 0, 0, 0.61);
    font: 500 17px "Roboto" !important;
    margin-top: 10px !important;
  }

  .categoryBox {
    padding: 0;
    margin: 5px;
  }
  
  .category-link {
    list-style: none;
    color: rgba(0, 0, 0, 0.61);
    font: 400 15px "Roboto";
    margin: 1vmax 0.4vmax;
    cursor: pointer;
    transition: all 0.5s;
  }
  .category-link:hover {
    color: tomato;
  }
  
  .filterBox fieldset {
    border: 1px solid rgba(0, 0, 0, 0.329);
    padding-block-start: 0.25em;
    padding-block-end: 0.25em;
    margin: 5px 0;
  }

  .priceBox {
    display: inline-flex;
    align-items: center;
  }

  .priceBox p{
   margin: 0.5rem;
   color: rgba(0, 0, 0, 0.329);
  }

  .priceInput {
    width: 2.8rem;
    height: 1.2rem;
    border: 1px solid rgba(0, 0, 0, 0.329);
    outline:none;
  }

