:root {
    --main-color: #0e82bc;
    --hover-color: #2b5088;
    --body-color: #1e1e2a;
    --container-color: #1b1e35;
    --text-color: #fcfeff;
    --info-color: #b7b7b7;
}

.header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--container-color);
}

.headerLogo {
    width: 100px;
    margin: 20px; 
    text-decoration: none;
    object-fit: contain;
    text-align: center;
}

.headerLogo div {
  font: 600 2rem "Roboto";
  color: var(--hover-color);
}

.headerSearch {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 18px;
    background: #fcfeff;
}

.headerSearchBtn {
  border-radius: 18px;
  height: 35px;
  width: 100px;
  border: none;
  color: white;
  font: 500 "Roboto";
  background-color: tomato;
}

.headerSearchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
    outline: none;
}

.headerSearchIcon {
padding: 5px;
height: 22px;
}

.headerNavRight {
  display: flex;
  gap: 20px;
  margin:20px;
  align-items: center;
}

.headerUser {
display: flex;
justify-content: right;
}


.headerSvgIcon{
  color: #fcfeff;
}

.msgBadge {
  color: var(--hover-color);
}

.userImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    object-position: right;
    /* margin: 20px; */
}



.userDropdownContainer.false {
    display: none;
}


.userDropdownContainer.true {
    display: flex;
    flex-direction: column;
    position: absolute;
    top:40px;
    right:5px;
    z-index: -1;
    user-select: none;
    border-radius: 5px;
    background-color: var(--container-color);
    gap:5px;
    padding: 10px 20px;
    
}

.userDropdown span,
.userDropdown a,
.userDropdown div {
    color: var(--text-color);
    margin: 5px;
    text-decoration: none;
}

.userDropdown li {
  list-style: none;
}


.userDropdown a:hover,
.userDropdown div:hover {
    color: tomato;

}

.userDropdown.sign-out {
  cursor: pointer;
}

.headerNavLogin {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    cursor: pointer;
    }
    
    .headerNavGuest {
    font-size: 10px;
    }
    
    .headerNavSignin {
    font-size: 13px;
    font-weight: 800;
    }

.headerShoppingCart {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.LoginSignUpContainer {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    position: fixed;
    top: 0%;
    left: 0;
  }
  
  .LoginSignUpBox {
    background-color: white;
    width: 25vw;
    height: 70vh;
    box-sizing: border-box;
    overflow: hidden;
  }
  .loginSignUpToggle {
    display: flex;
    height: 3vmax;
  }
  .loginSignUpToggle p {
    color: rgba(0, 0, 0, 0.678);
    font: 300 1vmax "Roboto";
    transition: all 0.5s;
    cursor: pointer;
    display: grid;
    place-items: center;
    width: 100%;
  }
  .loginSignUpToggle p:hover {
    color: tomato;
  }
  
  .LoginSignUpBox > div > button {
    background-color: tomato;
    height: 3px;
    width: 50%;
    border: none;
    transition: all 0.5s;
  }
  
  .loginForm,
  .signUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;
  }
  
  .signUpForm {
    transform: translateY(-100%) translateX(-100vmax);
  }
  
  .loginForm div,
  .signUpForm div {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .loginForm > div > input,
  .signUpForm > div > input {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 0.9vmax cursive;
    outline: none;
  }
  
  .loginForm > div > svg,
  .signUpForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.623);
  }
  
  .loginForm a {
    color: rgba(0, 0, 0, 0.651);
    text-decoration: none;
    align-self: flex-end;
    transition: all 0.5s;
    font: 500 0.8vmax "Gill Sans";
  }
  
  .loginForm a:hover {
    color: black;
  }
  
  .loginBtn,
  .signUpBtn {
    border: none;
    background-color: tomato;
    color: white;
    font: 300 0.9vmax "Roboto";
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  }
  
  .loginBtn:hover,
  .signUpBtn:hover {
    background-color: rgb(179, 66, 46);
  }
  
  .shiftToLeft {
    transform: translateX(-100%);
  }
  .shiftToNeutral {
    transform: translateX(0%);
  }
  
  .shiftToNeutralForm {
    transform: translateX(0%) translateY(-100%);
  }
  
  .shiftToRight {
    transform: translateX(100%);
  }
  
  @media screen and (max-width: 600px) {
    .LoginSignUpContainer {
      background-color: white;
    }
    .LoginSignUpBox {
      width: 100vw;
      height: 95vh;
    }
    .login_signUp_toggle {
      height: 5vmax;
    }
    .login_signUp_toggle > p {
      font: 300 1.5vmax "Roboto";
    }
  
    .loginForm,
    .signUpForm {
      padding: 5vmax;
    }
  
    .loginForm > div > input,
    .signUpForm > div > input {
      padding: 2.5vmax 5vmax;
      font: 300 1.7vmax cursive;
    }
  
    .loginForm > div > svg,
    .signUpForm > div > svg {
      font-size: 2.8vmax;
    }
  
    .loginForm a {
      font: 500 1.8vmax "Gill Sans";
    }
  
  
    .loginBtn,
    .signUpBtn {
      font: 300 1.9vmax "Roboto";
      padding: 1.8vmax;
    }
  }
