.productCardContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
}

.productCard {
    width: 210px;
    height: 330px;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.productCard:hover {
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
  }

.productImg {
    max-width: 220px;
    height: 220px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    background-color: #ffffff;
}

.productImg img {
    max-width: 220px;
    height:100%;
    object-fit: contain;
    border-radius: 10px;
    overflow: hidden;
}

.storeLink,
.productLink {
    text-decoration: none !important;
    transition: all 0.5s;
}

.storeName:hover {
    color: tomato;
}

.product-info {
    margin: 0.5vmax;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


