.chatCard {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .chatCard:hover {
    background-color: rgb(245, 243, 243);
  }
  
  .memberImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .memberName {
    font-weight: 500;
  }
  
  @media screen and (max-width: 768px) {
    .memberName {
      display: none;
    }
  }
  