.message {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }
  
  .messageTop{
      display: flex;
      align-items: center;
  }
  
  .messageImg {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .messageText{
      padding: 8px;
      border-radius: 10px;
      background-color: rgb(245, 241, 241);
      color: black;
      max-width: 300px;
      margin-right: 10px;
  }
  
  .messageBottom{
      font-size: 12px;
  }
  
  .message.own{
      align-items: flex-end;
  }
  
  .message.own .messageText{
    background-color: var(--hover-color);
    color: white;
  }

  .message.own .messageImg {
    order: 2
  }

  .message.own .messageText {
    order: 1
  }